* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'VT323', monospace;
  color: #000000;
  background: #008080;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none;
}
